$primary-blue: #0063a7;
$primary-green: #7cc24d;

$secondary-green: #00b085;
$secondary-blue: #a2d9d0;

$tertiary-dark: #343e48;
$tertiary-light: #435464;

$mosaic-yellow: #f2bc48;

@font-face {
  font-family: "Rohn";
  src: url("./RohnRounded-Black.otf") format("opentype");
}

.app {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  font-family: "Rohn";
  border: none;
  border-radius: 20px;
  font-size: 5vh;
  cursor: pointer;
  padding-left: 4vw;
  padding-right: 4vw;
}

.screensaver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 2vh;
  background-color: $secondary-blue;

  .screensaver-animation {
    object-fit: contain;
    background-color: white;
    img {
      width: 100%;
    }
  }

  .screensaver-cta {
    font-family: "Rohn";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    .cta-text {
      font-size: 7vh;
      color: $primary-blue;
    }

    .screensaver-cta-button {
      color: white;
      background-color: $mosaic-yellow;
    }
  }
}

.quiz {
  height: 100%;
  .cuddly {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 10%;
  }
  .dpa-logo {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 10%;
  }
  .quiz-frame {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;

    .quiz-frame-children {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }
  .quiz-page-title {
    font-family: "Rohn";
    font-size: 5vh;
    align-self: center;
    padding: 2%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro-title {
      font-family: "Rohn";
      font-size: 5vh;
    }
    .intro-text {
      font-size: 1.5vh;
      text-align: center;
    }
  }
  .home-button {
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: white;
    background-color: $mosaic-yellow;
  }
  .home-button-light {
    background-color: $primary-blue;
  }
  .species-page {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    .dog-button {
      background-color: $primary-blue;
      color: white;
    }
    .cat-button {
      background-color: $mosaic-yellow;
      color: white;
    }
  }
  .quiz-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    height: 100%;

    .button {
      margin: 1.5vh;
      height: 10vh;
      width: 80%;
      border-radius: 40px;
    }
  }
}

.quiz-light {
  background-color: $secondary-blue;
  .quiz-page-title {
    color: $primary-blue;
  }
  .intro {
    color: $primary-blue;
  }
}

.quiz-dark {
  background-color: $primary-blue;
  .quiz-page-title {
    color: white;
  }
  .intro {
    .intro-title {
      color: $mosaic-yellow;
    }
    .intro-text {
      color: white;
    }
  }
}
